{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}-Profil
{% endblock %}
{% block body %}
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold" style="font-family:Helvetica, sans-serif; text-align:center;">Profil</h1>
	<div class="row justify-content-center">
	<tr class="fw-bold text-primary ">
		<th scope="col">Email:
		</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.email}}</td>

	</tr>
	</br>
	<tr class="fw-bold text-primary ">
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Prénom:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.prenom}}</td>
	</tr>
	</br>
	<tr class="fw-bold text-primary ">
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Nom:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.nom}}</td>
	</tr>
	</br>
	<tr class="fw-bold text-primary ">
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Telephone:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.telephone}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="Helvetica, sans-serif; text-align:center;">numéro:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.numero}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">rue:</th>
		<td style"font-family:Helvetica, sans-serif; text-align:center;">{{app.user.rue}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">ville:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.ville}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Code Postal:</th>
		<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.codePostal}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Pays:</th>
	<td style="font-family:Helvetica, sans-serif; text-align:center;">{{app.user.Pays}}</td>
	</tr>
	</br>
	<tr>
		<th scope="col" style="font-family:Helvetica, sans-serif; text-align:center;">Role:</th>
		{% if "ROLE_ADMIN" in app.user.roles  %}
			<td style="Helvetica, sans-serif; text-align:center;">Adminitrateur</td>
		{% elseif "ROLE_MOD" in app.user.roles %}
			<td style="Helvetica, sans-serif; text-align:center;">Moderation</td>
		{% else %}
			<td style="Helvetica, sans-serif; text-align:center;">Utilisateur</td>
		{% endif %}
	</tr>
	</br>
	<td><a href="{{path("app_modifier_User",{'id':app.user.id})}}"><i class="bi bi-pen-fill text-dark"></i></a></td>
	</div>
	{% endblock %}
