{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}-Accueil
{% endblock %}
{% block body %}
	<div class="row justify-content-center">
		<h1 style ="text-align: center" class="text-info">bienvenue dans le troisième monde</h1>
		{% for TypeProduit in TypeProduits %}
			<h2 style="text-align: center">{{TypeProduit.typeProduit | capitalize}}
				:
				{{TypeProduit.produits | length }}
				produit(s)</h2>
				<div class="row row-cols-1 row-cols-md-4 g-4">
				{% for Produit in TypeProduit.produits %}
					<div class="col">
						<div class="card" style="width: 15rem;">
							{% for Photo in Produit.photos %}
								{% if "jacket.jpg" == Photo.Nom %}
								{#}
									<a href="{{path("app_Produit",{'id':Produit.id})}}">
									{#}
										<img class="card-img-top" style="width: 15rem,  align-items: center; border-radius:10px" src="{{Photo.chemin}}" alt="Photo du produit">
									{#}
									</a>
								{#}
										{% endif %}
									{% endfor %}
									<div class="card-body">
										<h5 class="card-title">{{ Produit.nom }}</h5>
										{% for Supporter in Produit.supporters  %}
											<span class="badge rounded-pill text-bg-dark">{{ Supporter.support.nom }}</span>
										{% endfor %}
										{#}
										{% if is_granted('IS_AUTHENTICATED_FULLY') %}
											{% if Produit in app.user.aimer %}
												<a href="{{path("app_adorer",{'id':Produit.id})}}">
													<i class="bi bi-suit-heart-fill text-danger"></i>
												</a>
											{% else %}
												<a href="{{path("app_adorer",{'id':Produit.id})}}">
													<i class="bi bi-suit-heart text-danger"></i>
												</a>
											{% endif %}
										{% else %}
											<a href="{{path("app_adorer",{'id':Produit.id})}}">
												{#}
												<i class="bi bi-suit-heart text-danger"></i>
												{#}
											</a>
										{% endif %}
									{#}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		{% endblock %}
