{% extends 'base.html.twig' %}

{% block title %}{{parent()}}-{{Support.nom}}{% endblock %}

{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"></h1>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>{{Support.nom | capitalize}} : {{ Support.supporters | length }} produit(s)</h1>
            <div class="col-10 text-primary">
                <div class="row row-cols-1 row-cols-md-auto g-4">
                {% for Supporter in Support.supporters %}
                    <div class="col">
						<div class="card h-100" style="width: 15rem; border-radius:10px;">
                            {% for Photo in Supporter.produit.Photos %}
							    {% if "jacket.jpg" == Photo.Nom %}
                                <a href="{{path("app_Produit",{'id':Supporter.produit.id})}}">
								    <img class="card-img-top" style="width: 15rem,  align-items: center; border-radius:10px" src="produit/{{Photo.chemin}}" alt="Photo du produit"> 
						        </a>
                                {% endif %}
                            {% endfor %}
                            <h5>{{ Supporter.produit.nom }}</h5>
                                <span class="badge rounded-pill text-bg-dark" style="font-family: Brush Script MT">{{ Supporter.produit.TypeProduit.TypeProduit }}</span>
                            <br>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
								{% if Supporter.produit in app.user.aimer %}
								<a href="{{path("app_adorer_support",{'id':Supporter.produit.id})}}">
									<i class="bi bi-suit-heart-fill text-danger"></i>
								</a>
								{% else %}
								<a href="{{path("app_adorer_support",{'id':Supporter.produit.id})}}">
									<i class="bi bi-suit-heart text-danger"></i>
								</a>
								{% endif %}
							{% else %}
							<a href="{{path("app_adorer_support",{'id':Supporter.produit.id})}}">
								<i class="bi bi-suit-heart text-danger"></i>
							</a>
							{% endif %}		
                            <h6>{{ Supporter.prix }}</h6>
                        </div>
                    </div>
                {% endfor %}
                </div> 
			</div>
        </div>
    </div>
{% endblock %}