{% extends 'base.html.twig' %}

{% block title %}{{parent()}}- recherche{% endblock %}

{% block body %}
<div class="row justify-content-center">
{#}
    {{form_start(form)}}

    {{form_end(form)}}
{#}
    <div class="col-10 text-primary">

        <div class="row row-cols-1 row-cols-md-auto g-4">
            {% for produits in produit %}
                <div class="col">
					<div class="card h-100" style="width: 15rem; border-radius:10px;">
                        
                        {% for photo in produits.photos %}
							    {% if "jacket.jpg" == photo.Nom %}
                                <a href="{{path("app_Produit",{'id':produits.id})}}">
								    <img class="card-img-top" style="width: 15rem,  align-items: center; border-radius:10px" src="produit/{{photo.chemin}}" alt="Photo du produit"> 
						        </a>
                                {% endif %}
                        {% endfor %}
                        
                            <h5>{{ produits.nom }}</h5>
                            <span class="badge rounded-pill text-bg-dark" style="font-family: Brush Script MT">{{ produits.TypeProduit.TypeProduit }}</span>
                </div>
            </div> 
            {% endfor %}  
        </div> 
	</div>
</div>
{% endblock %}
