{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}-{{produit.nom}}
{% endblock %}
{% block body %}
	<h3 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">{{produit.nom}}</h3>
	<div id="carouselExample" class="carousel slide">
		{% for Photo in produit.photos %}
			<div class="carousel-inner">
				<div class="carousel-item {{(loop.first) ? 'active' : '' }}">
					<img src="{{asset('{{Photo.chemin}}')}}" class="d-block w-100" alt="Photo du produit">
				</div>
			</div>
		{% endfor %}
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédant</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	{% for Supporter in produit.supporters  %}
		<a type="button">
			<span class="badge rounded-pill text-bg-dark">{{ Supporter.support.nom }}</span>
		</a>
		
	{% endfor %}

{% endblock %}
