{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}-{{produit.nom}}
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">
	<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold" style="font-family: Brush Script MT; text-align:center;" >{{produit.nom}}</h1>
	<div id="carouselExample" class="carousel slide">
		{% for Photo in produit.photos %}
			{% if "video" == produit.nom %}
			<div class="carousel-inner">
				<div class="carousel-item {{(loop.first) ? 'active' : '' }}">
					<img src="{{ Photo.chemin }}" class="d-block w-500" alt="Photo du produit">
				</div>
			</div>
			{% else %}
			<div class="carousel-inner">
				<div class="carousel-item {{(loop.first) ? 'active' : '' }}">
					<iframe width="1200" height="630" src="{{ Photo.chemin }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
					</iframe>
				</div>
			</div>	
			{% endif %}
		{% endfor %}

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédant</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	{% for Photo in produit.photos %}
		{% if "video" == produit.nom %}
		
		{% endif %}
	{% endfor %}
	
	<br>
			<h6 style="font-family: Brush Script MT;">description : {{produit.description}}</h6>
	<br>
	<br>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% if produit in app.user.aimer %}
			<a href="{{path("app_adorer_detail",{'id':produit.id})}}">
				<i class="bi bi-suit-heart-fill text-danger"></i>
			</a>
			{% else %}
			<a href="{{path("app_adorer_detail",{'id':produit.id})}}">
				<i class="bi bi-suit-heart text-danger"></i>
			</a>
			{% endif %}
		{% else %}
			<a href="{{path("app_adorer_detail",{'id':produit.id})}}">
				<i class="bi bi-suit-heart text-danger"></i>
			</a>
		{% endif %}		
	{% for Supporter in produit.supporters  %}
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
    			<h2 class="accordion-header" style="font-family: Brush Script MT; text-align:center;">
      				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        				{{ Supporter.support.nom }}
      				</button>
    			</h2>
    		<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      			<div class="accordion-body">
					<h6 style="font-family: Brush Script MT; text-align:center;">stock:
						{% if 0 != Supporter.stock %}
							{{ Supporter.stock }}
						{% else %}
							cet produit n'est plus dans nos Stockage
						{% endif %}
					</h6>
				<p style="font-family: Brush Script MT; text-align:center;">{{Supporter.prix}}</p>
				<div class="text-center">
					<div class="btn btn-lg btn-success mt-2">
						<a href="#"><button  type="submit" class="btn" ><i class="bi bi-bag-plus">Ajouter au panier</i></button></a>
					</div>
				</div>
     			</div>
    		</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
