{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}-{{produit.nom}}
{% endblock %}
{% block body %}
	<h1 style="font-family: Brush Script MT; text-align:center;" >{{produit.nom}}</h1>
	<div id="carouselExample" class="carousel slide">
		{% for Photo in produit.photos %}
			<div class="carousel-inner">
				<div class="carousel-item {{(loop.first) ? 'active' : '' }}">
					<img src="{{ Photo.chemin }}" class="d-block w-100" alt="Photo du produit">
				</div>
			</div>
		{% endfor %}
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Précédant</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Suivant</span>
		</button>
	</div>
	<br>
			<h6 style="font-family: Brush Script MT;">description : {{produit.description}}</h6>
	<br>

	{% for Supporter in produit.supporters  %}
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
    			<h2 class="accordion-header" style="font-family: Brush Script MT; text-align:center;">
      				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        				{{ Supporter.support.nom }}
      				</button>
    			</h2>
    		<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      			<div class="accordion-body">
					<h6 style="font-family: Brush Script MT; text-align:center;">stock:
						{% if 0 != Supporter.stock %}
							{{ Supporter.stock }}
						{% else %}
							cet produit n'est plus dans nos Stockage
						{% endif %}
					</h6>
				<p style="font-family: Brush Script MT; text-align:center;">{{Supporter.prix}}</p>
     			</div>
    		</div>
		</div>
	{% endfor %}
{% endblock %}
